@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
}
header{
    background-color: rgb(81, 81, 194);
    text-align: center;
    color: white;
    padding: 5% 0;
}
.lista-cadastro{
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
}
.lista-cadastro input[type=text]{
    flex: auto;
    height: 30px;
    padding-left: 15px;
    margin-right: 50px;
    }
.lista-cadastro input[type=number]{
    flex: auto;
    height: 30px;
    padding-left: 15px;
    margin-right: 50px;
}
.lista-cadastro input[type=submit]{
    cursor: pointer;
}
.lista-produto-single{
    padding: 10px 2%;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.lista-produto-single h3{
    flex: 1;
    padding: 0 20px;
}
h3.price-produto{
    text-align: right;
    font-size: 17px;
}
h3.price-produto > span{
    background-color: rgb(81, 81, 194);
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
}
.soma-produto{
    margin: 30px;
    color: rgb(187, 92, 92);
}

button,.cadastrar  {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 700% 300%;
    padding: .5em 1em;
    margin-left: 2%;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
   
button,.cadastrar:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}
   
button,.cadastrar:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}
 
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
   
50% {
    background-position: 100% 50%;
}
   
100% {
    background-position: 0% 50%;
}
}
    /*
    button{
    background-color: rgb(43, 22, 161);
    width: 70px;
    height: 50px;
    color:whitesmoke;
    cursor: pointer;
    text-align: center;
    margin: 0 50px;
    }*/
